#map {
    height: 700px;
}

.btn_container {
    position: absolute;
    top: 10px;
    z-index: 10;
    left: 124px;
}

.btn-kort {
    margin-left: -17px;
}

.overlay_container {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 0px;
    width: 100%;
    height: 100%;
}

h4 {
    margin-bottom: 0px;
}

.svg {
    height: 27px;
}

#data-paver {
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    img {
        height: 30%;
    }
}

.paver_container {
    color: green;
}

.panorama {
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    img {
        height: 100%;
    }
}

#UserMsgBox {
    border: 0 solid silver;
    background-color: #fff;
    border-radius: 3px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    line-height: 1.5em;
    position: absolute;
    max-height: 90%;
    overflow: auto;
    max-width: 1170px;
}

.info-col {
    width: 60%;
}

.marker_popud {
    position: absolute;
}

.btn_materialer {
    margin-left: 15px;
    margin-bottom: 10px;
}

@media all and (max-width: 870px) {
    .btn-overblik,
    .btn-kort {
        font-size: 1.6vw;
        padding: 1vw;
    }
    .carouselOverlay h3 {
        font-size: 2.8vw;
    }
    .hidden-xs {
        font-size: 1.2vw;
        line-height: 1.6;
    }
}

@media all and (min-width: 1171px) {
    .btn-overblik,
    .btn-kort {
        font-size: 14px;
    }
}
.carouselOverlay{
    background-color: rgba(0,0,0,.4);
}

.info_pic {
    margin-top: 30px;
}